.page__4__main{
    width: 100%;
    height: 855px;


    display: flex;
    align-items: center;
    justify-content: center;
}

.page__4__wrapper{
    height: inherit;
    width: 72.916666667%;

    
}


.page__4__info{
    width: inherit;
    height: 134px;

    margin-top: 160px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.page__4__marks{
    width: 100%    ;
    height: 317.01px;

    margin-top: 80px;

    display: flex;
    

}